
<nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <div class="navbar-header">
      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
      	</button>
      	<a class="navbar-brand">Phone Store</a>
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      	<ul class="nav navbar-nav">
        	<li class="dropdown">
          	<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></a>
          	<ul class="dropdown-menu">
			    <li><a ng-click="ctrl.changeManufacturer('apple')">Apple</a></li>
			    <li><a ng-click="ctrl.changeManufacturer('samsung')">Samsung</a></li>
			    <li role="separator" class="divider"></li>
			    <li><a ng-click="ctrl.changeManufacturer('')">All phones</a></li>
          	</ul>
        	</li>
      	</ul>

      	<form class="navbar-form navbar-left">
		    <div class="form-group">
		        <input type="text" class="form-control" placeholder="Search" ng-model=search>
		    </div>
      	</form>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cart <span class="caret"></span></a>
		    <ul class="dropdown-menu cart">	
		      	<li ng-repeat="cart in ctrl.cart track by $index" class="cart-phone">
			      			<div class="panel-body">
			      				<div class="col-md-2">
			      					<!-- image -->
			      					<img ng-src="{{cart.image}}" height="50" >
			      				</div>
			      				<div class="col-md-10">
			      					<!-- NAME + PRICE -->
			      					<p>
			      						{{cart.name}}
			      					</p>
			      					<p>
			      						<b>{{cart.price}}</b> 
			      					</p>
			      				</div>
			      			</div>
		      			</li>
		      	<li role="separator" class="divider"></li>
		      	<li>
		      		<span>Total cost: <b>{{ctrl.totalCost}}</b> + {{ctrl.shippingCost}} shipping</span>
		      	</li>
		    </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>




<div class="container">
	<div class="panel panel-body">
		<div class="col-md-9 phone-Description" ng-repeat="phone in ctrl.phones| filter: {manufacturer: ctrl.manufacturer, name: search}">
			<div class="col-md-12 info-block right-block">
				<!-- only ..... left -->
				<span> Only {{phone.left}} left in stock</span>
			</div>
			<div class="col-md-12">
				<!-- IMAGE + NAME + DESCRIPTION -->
				<div class="col-md-3">
					<!-- IMAGE -->
					<img ng-src="{{phone.image}}" height="100" >
				</div>
				<div class="col-md-9">
					<!-- DESCRIPTION -->
					<span>{{phone.name}}</span>
					<ul>
					<li ng-repeat="d in phone.description">
						{{d}}
					</li>
					</ul>
				</div>
			</div>
			<div class="col-md-12 info-block">
				<!-- PRICE -->
				<span>Price: <b>{{phone.price}}</b> + ${{ctrl.shippingCost}} shipping</span>
			</div>
			<div class="col-md-12 info-block right-block">
				<!-- BUTTON -->
				<button class="btn btn-warning" ng-click="ctrl.addToCart(phone)">  Add to cart      </button>
			</div>
		</div>
	</div>
</div>
