.phone-Description {
    border: 2px solid #ccc;
    margin: 5px;
}

.info-block {
    margin: 10px;
}

.cart-phone {
    margin: 10px;
    background-color: white;
}

.cart {
    width: 400px;
}

b {
    color:red;
}

.price-aria {
    background-color: white;
}

